{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier"
  ],
  "env": {
    "browser": true
  },
  "plugins": [
    "prettier"
  ],
  "rules": {
    "prettier/prettier": "error",
    "import/prefer-default-export": 0
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "config/webpack.config.production.js"
      }
    },
    "polyfills": ["promises"]
  }
}
